
*{
    margin: 0;
    padding: 0;
}
.header{

border: solid 3px black;
background-color: rgb(13, 13, 14);
height: 70px;

}
.header span {
color: white;
font-size: 30px;
float: right;
margin-right: 99px;
margin-top: 17px;
}

.logo{
margin-top: 6px;
margin-bottom: 6px;
margin-left: 99px;
height: 58px;
width: 120px;

}



.container {
margin-top: 5%;
width: 40%;
left: 30%;
min-height: 270px;
height: auto;
position: relative;
border-radius: 10px;
display: flex;
flex-direction: column;
flex-wrap: nowrap;

}
.first-div{
    
    margin-top: 5%;
    display: flex;
    height: 400px;
}
.first-div-text{
    margin: 2% 0 0 5%;
    width: 30%;
    
}
h3{
    font-family: 'Montserrat', sans-serif;
    border-bottom: red 2px solid;
    width: max-content;
  margin-bottom: 30px;
}

p{
    font-family: 'Raleway', sans-serif;
    
}
.first-div-img{
position: relative;
display: flex;
left: 10%;

width: 50%;

}
.first-div-img img {
      margin:0 20px 0 20px;
height: 400px;
width: 300px;
}

.second-div{
  
    margin-top: 15%;
    display: flex;
    height: 400px;
}

.second-div-text{

    position: relative;
    margin-top:2%;
    left: 18%;
    width: 30%; 
}
.second-div-img{
    position: relative;
    left: 5%;
    }

.second-div-img img {
    height: 400px;
    width: 620px;
    }

    
        